h1{
   background-color: aqua;
   padding-top: 30px;
   padding-bottom: 30px;
   
}

#box1{
    color: red;
    background-color: blue;
    width: 400px;
    height: 500px;
    margin: 0;

    
}
#box2{
    color: black;
    background-color: bisque;
    width: 600px;
    height: 500px;
}

#box3{
    background-color: brown;
    padding-top: 30px;
    padding-bottom: 30px;
}